n8n/workflows/W6_health_check.json
{
  "name": "W6 Health Check",
  "nodes": [
    {
      "id": "cron-trigger",
      "name": "Every 5 Minutes",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [250, 300],
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "custom",
              "cronExpression": "*/5 * * * *"
            }
          ]
        }
      }
    },
    {
      "id": "http-health",
      "name": "Check Health",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [450, 300],
      "parameters": {
        "method": "GET",
        "url": "http://backend:8000/health",
        "options": {
          "timeout": 10000
        }
      }
    },
    {
      "id": "if-unhealthy",
      "name": "Is Healthy?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [650, 300],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-status",
              "leftValue": "={{ $json.status }}",
              "rightValue": "ok",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "all-ok",
      "name": "All OK",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [850, 200],
      "parameters": {}
    },
    {
      "id": "telegram-alert",
      "name": "Send Health Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [850, 400],
      "parameters": {
        "chatId": "={{ $credentials.telegramChatId }}",
        "text": "=🚨 *Growth OS 健康告警*\n\n❌ 服务状态异常!\n\n状态: {{ $json.status }}\n详情: {{ $json.detail }}\n时间: {{ $now.format('yyyy-MM-dd HH:mm:ss') }}\n\n请立即检查后端服务。",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      }
    }
  ],
  "connections": {
    "Every 5 Minutes": {
      "main": [
        [
          {
            "node": "Check Health",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Health": {
      "main": [
        [
          {
            "node": "Is Healthy?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Healthy?": {
      "main": [
        [
          {
            "node": "All OK",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Health Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "timezone": "Asia/Shanghai"
  },
  "tags": ["growth-os", "monitoring", "health"]
}
