n8n/workflows/W7_backup.json
{
  "name": "W7 Backup",
  "nodes": [
    {
      "id": "cron-trigger",
      "name": "Every Day 3:00 AM",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [250, 300],
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "custom",
              "cronExpression": "0 3 * * *"
            }
          ]
        }
      }
    },
    {
      "id": "execute-backup",
      "name": "Run Backup Script",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [450, 300],
      "parameters": {
        "command": "cd /root/growth-os && bash scripts/backup.sh 2>&1",
        "timeout": 600
      }
    },
    {
      "id": "if-backup-ok",
      "name": "Backup Success?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [650, 300],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-exit-code",
              "leftValue": "={{ $json.exitCode }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "backup-success",
      "name": "Backup OK",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [850, 200],
      "parameters": {}
    },
    {
      "id": "telegram-backup-alert",
      "name": "Send Backup Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [850, 400],
      "parameters": {
        "chatId": "={{ $credentials.telegramChatId }}",
        "text": "=🔴 *Growth OS 备份失败*\n\n⏰ 时间: {{ $now.format('yyyy-MM-dd HH:mm:ss') }}\n📤 退出码: {{ $json.exitCode }}\n📋 输出:\n```\n{{ $json.stdout }}\n```\n❌ 错误:\n```\n{{ $json.stderr }}\n```\n\n请立即检查备份脚本和存储空间。",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      }
    }
  ],
  "connections": {
    "Every Day 3:00 AM": {
      "main": [
        [
          {
            "node": "Run Backup Script",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Backup Script": {
      "main": [
        [
          {
            "node": "Backup Success?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Backup Success?": {
      "main": [
        [
          {
            "node": "Backup OK",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Backup Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "timezone": "Asia/Shanghai"
  },
  "tags": ["growth-os", "backup", "maintenance"]
}
